.page {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
}

.article-container {
      width: 85%;
      margin: 0 auto;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
}
h2 {
      font-size: 34px;
      margin-left: 10px;
      font-family: "Montserrat", sans-serif;
}

h3,
a {
      color: #fffff0;
      font-weight: 900;
}

h4 {
      color: #fffff0;
      font-weight: 700;
      width: 70%;
      font-family: "Roboto", sans-serif;
}

.selected3 {
      border-bottom: 3px solid white;
      transition: width 0.7s ease;
      font-weight: bold;
}
.selected2 {
      border-bottom: 3px solid #fffff0;
      transition: width 0.7s ease;
      font-weight: bold;
}

.selected1 {
      border-bottom: 3px solid black;
      transition: width 0.7s ease;
      font-weight: bold;
}

.article-title {
      width: 70%;
}

.article-flex0 {
      flex: 1 1 1000px;
      height: 80px;
      margin: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

/* .menu-article {
      display: flex;
} */
.mini-nav {
}

li {
      margin: 10px;
}

.page-button {
      margin: 0 10px 30px 10px;
      outline: none;
      font-weight: 800;
      width: 28px;
}

.page-button-selected {
      margin: 0 10px 30px 10px;
      background-color: black;
      border-radius: 5px;
      outline: none;
      color: #fffff0;
      font-weight: 800;
      width: 20px;
      width: 28px;
}
/* Bloc Flex 1 >  */

.article-flex {
      flex: 1 1 400px;
      height: 300px;
      margin: 20px;
      padding: 10px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
}

.article-flex:nth-child(2) {
      flex: 1 1 1000px;
      height: 400px;
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
}
.article-flex:nth-child(2) h2 {
      font-size: 56px;
}

.article-flex:nth-child(3) {
      flex: 1 1 300px;
      height: 300px;
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
}

.article-flex:nth-child(3) h2,
h4 {
      text-align: right;
}

.article-flex:nth-child(4) {
      flex: 2 1 400px;
      height: 300px;
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

.article-flex:nth-child(5) {
      flex: 2 1 400px;
      height: 300px;
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

.article-flex:nth-child(6) {
      flex: 1 1 300px;
      height: 300px;
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
}

.article-flex:nth-child(7) {
      flex: 1 1 400px;
      height: 300px;
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

.article-flex:nth-child(8) {
      flex: 1 1 200px;
      height: 300px;
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

.article-flex:nth-child(9) {
      flex: 1 1 300px;
      height: 300px;
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

.article-flex:nth-child(10) {
      flex: 4 1 300px;
      height: 300px;
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

/* -------------------- media queries ---*/

@media (max-width: 1024px /* Landscape tab */) {
}

@media (max-width: 768px /* Ipad vertical position zone */) {
      .article-container {
            width: 100%;
            margin: 0 auto;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
      }
      .article-flex0 {
            flex: 1 1 768px;
            height: 100%;
            margin: 20px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
      }
      .article-title {
            width: 100%;
      }
      h4 {
            width: 80%;
      }
      h2 {
            font-size: 34px;
      }
      h3 {
            font-size: 34px;
      }
      .freeHeight {
            height: 100%;
      }
}

@media (max-width: 720px /* Smartphone zone */) {
      .article-container {
            width: 100%;
            margin: 0 auto;
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
      }
      .article-flex0 {
            flex: 1 1 720px;
            height: 100%;
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
      }

      .stopWidth {
            width: 100%;
      }

      .freeHeight {
            height: 100%;
      }
      .page {
            margin-top: 40px;
      }
}

@media (max-width: 414px /* iPhone 11 vertical zone */) {
      .article-container {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            display: flex;

            flex-wrap: wrap;
      }

      .freeHeight {
            height: 100%;
      }
      .remove414 {
            display: none;
      }
      .article-flex:nth-child(2) h2 {
            font-size: 38px;
      }
}

@media (max-width: 360px /* Smartphone zone */) {
      .article-container {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            display: flex;

            flex-wrap: wrap;
      }

      .article-flex {
            margin: 0px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
      }
      .freeHeight {
            height: 100%;
      }
      .mini-nav {
            display: flex;
            flex-direction: column;
      }
}

@media (max-width: 320px /* Smartphone zone */) {
      .article-container {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            display: flex;

            flex-wrap: wrap;
      }
      .freeHeight {
            height: 100%;
      }
      .mini-nav {
            display: flex;
            flex-direction: column;
      }
      h2 {
            font-size: 28px;
      }
      h3 {
            font-size: 28px;
      }
}
