.lineChart-container {
      /* width: 1000px;
      height: 400px; */
      margin-bottom: 40px;
}
/* -------------------- media queries ---*/

@media (max-width: 1024px /* Landscape tab */) {
}

@media (max-width: 768px /* Ipad vertical position zone */) {
      .lineChart-container {
            /* width: 1000px;
            height: 400px; */
            margin-bottom: 30px;
      }
      .remove768 {
            display: none;
      }
}

@media (max-width: 720px /* Smartphone zone */) {
      .lineChart-container {
            /* width: 1000px;
            height: 400px; */
            margin-bottom: 25px;
      }
}

@media (max-width: 414px /* iPhone 11 vertical zone */) {
}

@media (max-width: 380px /* Smartphone vertical zone */) {
}

@media (max-width: 330px) {
}
