.page {
      margin-top: 60px;
}

.home-container {
      width: 85%;
      margin: 0 auto;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
}

/* Bloc Flex 1 > head-line-home  + article-home */

.home-flex1 {
      flex: 3 1 400px;
      margin: 10px;
      display: flex;

      /* flex-direction: column; */
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
}

/* child1 */

.head-line-home {
      background-image: url("../../assets/images/home/shanghai2.jpg");
      background-size: cover;
      height: 300px;
      flex: 2 1 400px;
      margin: 10px;
}

h1 {
      color: white;
      font-weight: bold;
      font-size: 66px;
      margin-left: 10px;
      padding: 10px;
}

.vignette1 {
      flex: 1 1 150px;
      height: 100px;
      margin: 10px;
}

.vignette2 {
      flex: 3 1 300px;
      height: 200px;
      margin: 10px;
      background-image: url("../../assets/images/home/video.png");
      background-size: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
}

/* child 2 */

.article-home {
      margin-bottom: 10px;
      padding: 10px;
}

/* Bloc flex2 > DataHome */
.home-flex2 {
      flex: 1 1 200px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      margin-top: 10px;

      display: flex;
}

/* unique child of flex2 */

.data-home {
      display: flex;
      flex-direction: column;
      /* margin: 10px; */
      padding: 10px;
}

h3 {
      font-size: 36px;
      /* margin-left: 10px; */
      margin: 5px 0 5px 10px;
}

h4 {
      margin: 5px 0 5px 10px;
}
.image-data-home {
      width: 100%;
      height: 100%;
      margin-left: 10px;
      background-image: url(../../assets/images/data/France.png);
      background-size: contain;
}

/* Bloc Flex 3 > head-line-home  + article-home */

.home-flex3 {
      flex: 1 1 200px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      background-image: url("../../assets/images/articles/Vaca.jpg");
      background-size: cover;
      color: var(--whiteSand);
}

h3 {
      font-size: 36px;
      /* margin-left: 10px; */
      margin: 5px 0 5px 10px;
}

h4 {
      margin: 5px 0 5px 10px;
}

p {
      margin-left: 10px;
      overflow: auto;
}
/* -------------------- media queries ---*/

@media (max-width: 1024px /* Landscape tab */) {
}

@media (max-width: 768px /* Ipad vertical position zone */) {
      h1 {
            color: white;
            font-weight: bold;
            font-size: 64px;
      }

      .image-headline-prod {
            width: 98%;
            height: 100%;
            margin: 0 5px 10px 5px;
      }
}

@media (max-width: 720px /* Smartphone zone */) {
      .page {
            margin-top: 40px;
      }

      .home-container {
            width: 100%;
            margin: 0 auto;
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
      }
}

@media (max-width: 414px /* iPhone 11 vertical zone */) {
      .home-container {
            width: 100%;
            margin: 0 auto;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
      }
      .remove414 {
            display: none;
      }

      .head-line-home {
            background-image: url("../../assets/images/home/shanghai2.jpg");
            background-size: cover;
            height: 300px;
            flex: 2 1 400px;
            margin: 0px;
            margin-bottom: 10px;
      }

      .vignette1 {
            flex: 1 1 200px;
            height: 200px;
            margin: 0px;
            margin-bottom: 10px;
      }

      .vignette2 {
            flex: 1 1 200px;
            height: 200px;
            margin: 0px;
            margin-bottom: 10px;
      }
}

@media (max-width: 360px /* Smartphone zone */) {
      h1 {
            color: white;
            font-weight: bold;
            font-size: 48px;
      }
}
